<%-include('../includes/head.ejs')%>
<style>
    body{
        background-color: #f0ad4e;
    }
</style>
    </head>
    <%-include('../includes/navigation.ejs')%>
<div style="margin-top:150px;"></div>
<section class=" p-5 w-75 m-auto signup-form " style=" border-radius: .5rem .5rem 0 0; ">
    <div class="row">
        <div class="col-12">
            <div class="card text-black">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                            <p class="text-center h1 fw-bold mb-5 mt-4">New Password</p>
                            <% if (errorMessage) { %>
                                <div class="mb-3" style="color:red;">
                                    <%= errorMessage %>
                                </div>
                                <% } %>
                                <p class="ms-2 mb-4" style="color:#f0ad4e">Please type a password between 6-16 characters.</p>
                                    <form action="/new-password" method="POST">
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-4">
                                                <label class="form-label" for="password">Password</label>
                                                <input type="password" name="password" minlength="6" maxlength="16" id="password" class="form-control update-pw">
                                            </div>
                                        </div>
                                        <input type="hidden" name="userId" value="<%= userId %>">
                                        <input type="hidden"  name="passwordToken" value="<%= passwordToken %>">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" style="background-color:#fed300;border:none;"
                                                                        class="btn btn-primary btn-lg">Update Password</button>
                                        </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                <%-include('../includes/end.ejs') %>
                        <script src="/js/non-home.js"></script>